#table-view {
	font-size: 9px;
}

#table-view tbody td div {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}

#table-view tbody td span {
	display: inline-block;
	vertical-align: middle;
}

#table-view tbody td:nth-child(2) {
	text-align: center;
}

#table-view tbody tr {
	cursor: pointer;
}