html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 0.98em;
	font-weight: 300;
}

a {
	background: #d6ebf2;
	color: steelblue;
	text-decoration: none;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 1px;
	border-radius: 2px;
}

a:hover {
	background: #9bc2cf;
	color: white;
	transition: 0.2s;
}

#container {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

img.icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

img.icon + a {
	margin-left: 3px;
	vertical-align: middle;
}

#about-me, #news, .publication, .experience, #copyright {
	background: #f2f8ff;
	margin-bottom: 15px;
}

/* personal-info */

#personal-info {
	padding: 15px;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
	#personal-info {
		text-align: center;
	}
}

#personal-info > .photo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

@media screen and (max-width: 600px) {
	#personal-info > .photo {
		display: block;
		margin-left: 0px;
	}

	#personal-info > .photo > img {
		border-radius: 10px;
	}
}

#personal-info > .content {
	display: inline-block;
	vertical-align: middle;
	padding-left: 25px;
}

@media screen and (max-width: 600px) {
	#personal-info > .content {
		padding-left: 0px;
		margin-top: 20px;
		text-align: left;
	}
}

#personal-info > .content > .name {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

#personal-info > .content > table {
	margin-top: 10px;
}

#personal-info > .content > table > tbody > tr > td:first-child {
	text-align: right;
}

#personal-info > .content > table > tbody > tr > td {
	vertical-align: top;
}

/* about-me */

#about-me {
	position: relative;
	padding: 20px;
	padding-left: 35px;
	width: calc(100% - 55px);
	line-height: 1.5;
}

@media screen and (max-width: 1100px) {
	#about-me {
		margin-top: 20px;
		padding-top: 28px;
		padding-left: 20px;
	}
}

#about-me .header {
	display: inline;
	position: absolute;
	white-space: nowrap;
	right: calc(100% - 10px);
	top: 10px;
  	padding: 5px 8px 5px 8px;

  	opacity: 0.5;
  	background: steelblue;
  	color: white;
  	-webkit-box-shadow: 0px 0px 5px 0px steelblue;
  	-moz-box-shadow: 0px 0px 5px 0px steelblue;
  	box-shadow: 0px 0px 5px 0px steelblue;
}

@media screen and (max-width: 1100px) {
	#about-me .header {
		right: initial;
		left: 0px;
   		top: -20px;
	}
}

#about-me .content div:nth-child(1),
#about-me .content div:nth-child(2) {
	margin-bottom: 20px;
}

#about-me .content div:nth-child(3) {
	font-size: 1.3em;
}

/* news */

#news {
	position: relative;
	padding: 20px;
	padding-left: 35px;
	width: calc(100% - 55px);
	line-height: 1.5;
}

@media screen and (max-width: 1100px) {
	#news {
		margin-top: 40px;
		padding-left: 20px;
	}
}

@media screen and (max-width: 600px) {
	#news {
		display: none;
	}
}

#news > .header {
	display: inline;
	position: absolute;
	white-space: nowrap;
	right: calc(100% - 10px);
	top: 10px;
  	padding: 5px 8px 5px 8px;

  	opacity: 0.5;
  	background: steelblue;
  	color: white;
  	-webkit-box-shadow: 0px 0px 5px 0px steelblue;
  	-moz-box-shadow: 0px 0px 5px 0px steelblue;
  	box-shadow: 0px 0px 5px 0px steelblue;
}

@media screen and (max-width: 1100px) {
	#news > .header {
		right: initial;
		left: 0px;
   		top: -20px;
	}
}

#news > .content .news-entry > .date {
  vertical-align: text-top;
  padding-left: 20px;
  padding-right: 10px;
  white-space: nowrap;
  text-align: right;
}

#news > .content .news-entry > .content {
  vertical-align: text-top;
  padding-right: 20px;
}

/* top-header */

.top-header {
	padding: 10px;
	margin-bottom: 15px;

	font-variant: small-caps;
	font-size: 1.5em;
	font-weight: bold;
}

/* publication */

.publication {
	padding: 25px;
    white-space: nowrap;
}

.publication > .teaser, 
.publication > .content {
	display: inline-block;
    vertical-align: middle;
}

.publication > .teaser {
	margin-right: 20px;
	max-width: 195px;
	width: 40%;
}

@media screen and (max-width: 600px) {
	.publication > .teaser {
		display: none;
	}
}

.publication > .teaser > img {
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.publication > .content {
	width: calc(60% - 25px);
    min-width: calc(100% - 195px - 25px);
	white-space: normal;
}

@media screen and (max-width: 600px) {
	.publication > .content {
		width: 100%;
		min-width: 100%;
	}
}

.publication > .content > div {
	padding-bottom: 8px;
}

.publication > .content > div:last-child {
	padding-bottom: 0px;
}

.publication > .content > .title,
.publication > .content > .authors > .me {
	font-weight: bold;
}

.publication > .content > .download {
	line-height: 1.6;
}

.publication > .content > .download > .resource {
	display: inline-block;
	margin-right: 10px;
	white-space: nowrap;
}

/* project */

.project-container {
	display: flex;
	margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
	.project-container {
		display: block;
		margin-bottom: 0px;
	}
}

.project {
	padding: 25px;
	background: #f2f8ff;
	margin-right: 15px;

	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
}

.project:last-child {
	margin-right: 0px;
}

@media screen and (max-width: 700px) {
	.project {
	    margin-right: 0px;
	    margin-bottom: 15px;
	    display: block;
	    white-space: nowrap;
	}
}

.project > .teaser {
	margin-bottom: 20px;
}

.project > .teaser > img {
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 700px) {
	.project > .teaser {
		display: inline-block;
	    vertical-align: middle;
		margin-right: 20px;
		margin-bottom: 0px;
	}

	.project > .teaser > img {
		width: 195px;
	}
}

@media screen and (max-width: 600px) {
	.project > .teaser {
		display: none;
	}
}

.project > .content > .title {
	margin-bottom: 15px;
}

.project > .content > .title {
	font-weight: bold;
}

.project > .content > .download {
	line-height: 1.6;
}

.project > .content > .download > .resource {
	display: inline-block;
	margin-right: 10px;
	white-space: nowrap;
}

@media only screen and (max-width: 700px) {
	.project > .content {
		display: inline-block;
	    vertical-align: middle;
	    width: calc(100% - 195px - 25px);
		white-space: normal;
	}

	.project > .content > div {
		padding-bottom: 8px;
	}

	.project > .content > div:last-child {
		padding-bottom: 0px;
	}

	.project > .content > .title {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 600px) {
	.project > .content {
		width: 100%;
	}
}

/* experience */

.experience {
	padding: 25px;
	white-space: nowrap;
}

.experience > .logo, .experience > .content {
	display: inline-block;
	vertical-align: middle;
}

.experience > .logo {
	margin-right: 20px;
}

.experience > .logo > img {
	width: 100px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experience > .content {
	width: calc(100% - 100px - 25px);
	white-space: normal;
}

.experience > .content > div {
	padding-bottom: 6px;
}

.experience > .content > div:last-child {
	padding-bottom: 0px;
}

.experience > .content > .where {
	font-weight: bold;
}

/* copyright */

#copyright {
	padding: 15px;
	margin-bottom: 15px;
}
