@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  font-size:  15px;
}

a {
  color: steelblue;
}

#container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.photo, .pad {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
}

.pad {
  padding-left: 25px;
}

#personal_info #name {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  display: block;
}

#personal_info .info  {
  height: 180px;
}

#personal_info .other {
  font-size: 15px;
}

#personal_info {
  padding: 15px;
  padding-bottom: 20px;
}

.proj, .title, #bio, #copyright, .experience, #news {
   margin-bottom:15px;
   padding-left:10px;
   padding-right:10px;
   padding-top:10px;
   padding-bottom:10px;
   background: #f2f8ff;
}

#news #news-title {
  margin-bottom: 5px;
  font-weight: bold;
}

#news .news-entry .date {
  vertical-align: text-top;
  padding-left: 20px;
  padding-right: 10px;
  white-space: nowrap;
}

#news .news-entry .content {
  vertical-align: text-top;
  padding-right: 20px;
}

.title {
  background: white;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

#bio, #news {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
  font-size: 15px;
}

#bio #cv {
  font-size: 18px;
}

.proj {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: calc(100% - 30px);
  white-space: nowrap;
}

.proj-info, .teaser-container {
  display: inline-block;
  vertical-align: middle;
}

.proj-info {
  width: calc(100% - 195px - 26px);
}

.experience {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
}

.teaser {
  width: 195px;
  float: left;
  margin-right: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  width: 100px;
  margin-right: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon, .resource-link {
  vertical-align: middle;
}

.pub_title, .pub_authors, .public_venue, .download, .exp_venue, .exp_title, .exp_date {
  padding-bottom: 5px;
  line-height: 1.5;
  font-size: 15px
}

.exp_info, .logo-container {
  display: inline-block;
  vertical-align: middle;
}