::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
 
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #d3d3d3;
}

body {
    font-size: 0px;
    font-family: 'Lato', Arial;
    font-weight: 300;

   	margin: 8px;
   	overflow: auto;
}

* {
	box-sizing: initial;
}

#header, #stochastic, #learning-from-clean, #learning-from-adversarial, 
#individual-experiment, #reference, #conclusion {
	margin: 0 auto;
}

#header > .title {
	font-size: 30px;
	font-weight: 400;
	color: gray;
	text-align: center;
	padding: 30px;
}

#header > .introduction {
	font-size: 20px;
}

#header > .introduction > div {
	padding: 10px;
}

span.tr-e { color: rgb(78, 121, 167); }
span.te-e { color: rgb(242, 142, 44); }
span.adv-e { color: rgb(225, 87, 89); }

#stochastic > .title,
#learning-from-clean > .title,
#learning-from-adversarial > .title {
	font-size: 25px;
	font-weight: 400;
	color: gray;
	padding: 25px;
}

#stochastic > .introduction,
#learning-from-clean > .introduction,
#learning-from-adversarial > .introduction {
	font-size: 20px;
}

#individual-experiment > .introduction > div {
	font-size: 20px;
	margin-bottom: 15px;
}

#stochastic > .introduction > div,
#learning-from-clean > .introduction > div,
#learning-from-adversarial > .introduction > div,
#individual-experiment > .introduction > div {
	padding: 10px;
}

#stochastic > .vis-container,
#learning-from-clean > .vis-container,
#learning-from-adversarial > .vis-container,
#individual-experiment > .vis-container {
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
}

#stochastic > .vis-container > .chart,
#learning-from-clean > .vis-container > .chart,
#learning-from-adversarial > .vis-container > .chart,
#individual-experiment > .vis-container > .chart {
	display: inline-block;
	vertical-align: text-top;
	margin-left: 80px;
}

#stochastic > .vis-container > .finding,
#learning-from-clean > .vis-container > .finding,
#learning-from-adversarial > .vis-container > .finding,
#individual-experiment > .vis-container > .finding {
	display: inline-block;
	vertical-align: text-top;
	margin-right: 70px;

	padding: 10px;
	padding-top: 40px;
	padding-left: 50px;
	font-size: 15px;
	white-space: normal;
}

#individual-experiment > .vis-container > .finding {
	font-size: 18px;
	padding-top: 60px;
}

#stochastic > .vis-container > .finding > div,
#learning-from-clean > .vis-container > .finding > div,
#learning-from-adversarial > .vis-container > .finding > div,
#individual-experiment > .vis-container > .finding > div {
	padding: 10px;
}

#individual-experiment > .title {
	font-size: 25px;
	font-weight: 400;
	color: gray;
	padding: 25px;
}

#individual-experiment > .introduction > .dropdown-name {
	font-size: 20px;
	margin-left: 30px;
	margin-right: 10px;
}

#individual-experiment > .introduction > .dropdown > .dropdown-menu > .dropdown-item {
	box-sizing: border-box;
	cursor: pointer;
}

#individual-experiment > .introduction > span {
	display: inline-block;
	vertical-align: middle;
}

#conclusion > .title {
	font-size: 25px;
	font-weight: 400;
	color: gray;
	padding: 25px;
}

#conclusion > .introduction {
	font-size: 20px;
}

#conclusion > .introduction > div {
	padding: 10px;
}

#reference {
	font-size: 15px;
	margin-bottom: 20px;
}

#reference > div {
	padding: 10px;
}

