.link {
 	stroke: #aaa;
}

circle {
	stroke: #fff;
	stroke-width: 2px;
}

text.name {
	display: none;
  	font: 10px sans-serif;
}

text.selected.name {
	display: block;
}

/* disable text selection */
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}