.loader-installed {
    position: relative;
}

.loader {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;

    width: 100%;
    height: 100%;
}

.loader .background {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: white;
}

.loader .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .loader-animation {
    border: 5px solid #e7e7e7;
    border-radius: 50%;
    border-top: 5px solid #63ce88;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}