html {
    width: 100%;
    height: 100%;
}

body {
    width: calc(100% - 16px); /* margin = 8 */
    height: calc(100% - 16px); /* margin = 8 */
}

#wrapper {
    width: 1215px;
    height: 682px;
}

#left-view {
	width: calc(100% / 3 - 8px);
    height: 100%;
}

#right-view {
    width: calc(100% / 3 * 2);
    height: 100%;
}

#menu-bar {
	width: 100%;
	height: 40px;
}

#narrative-view {
	width: 100%;
	height: calc(100% - 40px - 8px);
}

#narrative-view > .container {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

#narrative-view > .container > .content {
    width: 100%;
    height: 100%;
}

#narrative-view > .container > .content > .container {
    width: calc(100% - 40px - 20px); /* padding = 10 */
    height: calc(100% - 60px - 20px); /* padding = 10 */
}

#map-view {
    width: calc(100% - 18px);
    height: calc(100% * 0.6 - 18px * 2);
}

#map-view > .content {
    width: 100%;
    height: 100%;
}

#trend-view {
    width: calc(100% - 18px);
    height: calc(100% * 0.4 - 18px);
}

#trend-view > .view {
    width: calc((100% - 18px * 2) / 3);
    height: 100%;
}

#trend-view > .view .content {
    width: 100%;
    height: calc(100% - 35px);
}

#load-data-window {
	width: 100%;
    height: 100%;
}

#load-data-window .background {
	width: 100%;
    height: 100%;
}

#load-data-window .menu {
	width: calc(300px - 40px); /* padding = 40 */
}